#BACKEND (Java/Maven)
target/
*.class
*.jar
*.war
*.ear
.mvn/
.factorypath
.project
.settings/
.classpath
almacenamiento/usuarios/avatares/
almacenamiento/usuarios/banners/
almacenamiento/usuarios/portadas/

#FRONTEND (React/Vite)
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.vite/

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
npm-debug.log*

frontend/.env
frontend/.env.*
.env
.env.local

frontend/.DS_Store
frontend/Thumbs.db
